.gitattributes !filter !diff

secrets.txt filter=git-crypt diff=git-crypt
KEYFILE filter=git-crypt diff=git-crypt
# test.php filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
src/** filter=git-crypt diff=git-crypt